<header class="header">
  <div class="container">
    <nav class="nav">
      <div class="logo">
        <a routerLink="/">
          <img src="../../../assets/images/jalorine.png" alt="Logo" width="auto" height="67px">
        </a>
      </div>
      
      <div class="nav-links">
        <a routerLink="/" class="underline nav-link active">Accueil</a>
        <div class="dropdown">
          <a routerLink="/categories" class="nav-link">Collections</a>
          <div class="dropdown-content">
            <a routerLink="/categories/rings">Bagues</a>
            <a routerLink="/categories/necklaces">Colliers</a>
            <a routerLink="/categories/bracelets">Bracelets</a>
            <a routerLink="/categories/earrings">Boucles d'oreilles</a>
          </div>
        </div>
        <a routerLink="/new-arrivals" class="nav-link">Nouveautés</a>
        <a routerLink="/sales" class="nav-link">Promotions</a>
      </div>

      <div class="nav-actions">
        <button class="icon-btn search-btn">
          <i class="fas fa-search"></i>
        </button>
        <button class="icon-btn account-btn">
          <i class="fas fa-user"></i>
        </button>
        <button class="icon-btn cart-btn" (click)="toggleCart()">
          <i class="fas fa-shopping-bag"></i>
          <span class="cart-count">0</span>
        </button>
      </div>
    </nav>
  </div>
</header>

<app-cart-modal [isOpen]="isCartOpen" (closeCart)="closeCart()"></app-cart-modal>
